
.div-pai1{
    max-width: 100%;
     display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: start;
    background-color:rgb(23, 3, 37);

}



.sobre-mim{
    width: 300px;
    height: 200px;
    color: aliceblue;
    background-color:rgb(23, 3, 37);
    text-align: center;
}

.link-do-canal{
    color: aliceblue;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
}

.portfolio{
    justify-self: end;
    color: aliceblue;
    text-align: center;
    background-color:rgb(23, 3, 37);
    width: 300px;
    height: 200px;
}

.foto1 img{
    
    width: 50%;
    height: 50%;
    object-fit: cover;
    
    
    
}

.foto1{
    border-radius: 5%;
    max-width: 300px;
    max-height:300px;
    background-color:bisque;
    width: 300px;
    height: 300px;
    text-align: center;
    color: black;
    
}

.midias{
     display: grid;
    grid-template-columns: 1fr 1fr 1fr; 
    align-items: start;
    max-width: 900px;
    max-height: 900px;
    width: 900px;
    height: 400px;
    

}

.paidetodos{
    background-color: black;
    color: aliceblue;
    text-align: center;
    
}